<!-- 会員情報編集画面-->
<div class="container">
  <div class="row mx-5 my-4">
    <h2 class="mx-5 col-4 text-center" style="background-color:#a99e93;">利用者情報編集</h2>
  </div>
  <%= form_with model: @user, url: user_path, local: true do |f| %>
    <div class="col-8">
      <table class="table table-borderless">
        <tr>
          <td><%= f.label:プロフィールし画像 %></td>
          <td><%#= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
        </tr>
        <tr>
          <td><%= f.label:会員ID , class: "float-left" %></td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td><%= f.label :ニックネーム , class: "float-left" %></td>
          <td><%= f.text_field :nickname, class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label:お誕生日, class: "float-left" %></td>
          <td><%= f.text_field :birth_month, class:"form-control" %></td>
          <td><%= f.text_field :birth_day, class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :年代, class: "float-left" %></td>
          <td><%= f.text_field :age, class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :肌質 , class: "float-left" %></td>
          <td><%= select :user, :skin_type, User.skin_types.keys.to_a, include_blank: true, class:"form-control" %></td>
        </tr>
    </table>
    <div class="mb-5 text-center">
      <%= f.submit "編集内容を保存", class:"btn btn-outline-success mx-3 col-4" %>
      <%= link_to "退会する", users_check_path, class:"btn btn-outline-danger mx-3 col-3" %>
    </div>
    <% end %>
  </div>
</div>