<!-- 会員詳細画面-->
<div class="container mx-5">
  <div class="row mx-5">
    <h3 class="col-3 my-3 mx-5 mt-5 text-center" style="background-color:#a99e93;">マイページ</h3>
  </div>
  <div class="row my-3">
    <h4 class="mx-2 col-md-3"><strong>登録情報</strong></h4>
    <%= link_to "編集する", edit_user_path(current_user), method: :get, class: "col-1 btn btn-outline-success mx-2 mr-5" %>
    <h4 class="mx-2 col-md-5 ml-5"><strong>お気に入り商品</strong></h4>
  </div>
  <div class="row my-2">
    <table class="table table-bordered table-hover col-md-5">
      <tr>
        <td>会員ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>ニックネーム</td>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <td>誕生日</td>
        <td><%= @user.birth_month %><%= @user.birth_day %></td>
      </tr>
        <tr>
          <td>年齢</td>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <td>肌質</td>
          <td><%= @user.skin_type %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @user.is_deleted == true%>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class= "col-md-6 ml-5 mb-5">
        <table class="table table-hover">
          <thead>
            <tr class="thead" style="background-color: #bed3ca;">
              <th>商品ID</th>
              <th>商品名</th>
              <th>商品カテゴリー</th>
              <th>ステータス</th>
            </tr>
          </thead>
        <tbody>
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |item| %>
              <tr>
                <td><%= attachment_image_tag item, :item_image , format: 'jpg', fallback: "no_image.jpg", size: "50x50" %></td>
                <td><%= link_to item.name.truncate(10),item_path(item), class:"text-secondary" %></td>
                <td><%= item.item_category.name %></td>
                <td>
                  <% if item.status == true %>
                    <p class="text-success">販売</p>
                  <% else %>
                    <p class="text-secondary">廃盤</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>