<div class="container mt-5">
  <h4 class="p-3 mb-2 w-25 text-center" style="color: #494949; background: #80aba9; border-left: solid 5px #2f4f4f;">商品編集</h4>
</div>
<div class="container", style="margin-left: 30rem;">
  <div class="row">
    <div class="col-md-6">
      <%= form_with model:@item, url:admin_item_path(@item), local:true do |f| %>
      <%= render "layouts/error", model: f.object %>
        <table class='table table-borderless'>
          <tr>
            <td><%= f.label :商品画像 ,class: "col-xs-3" %></td>
            <td><%= f.attachment_field :item_image, autofocus: true, autocomplete: "item_image" ,class: "col-xs-8"%></td>
          </tr>
          <tr>
            <td><%= f.label :ジャンル ,class: "col-xs-3 fix" %></td>
            <td><%= f.collection_select :item_category_id, @item_category, :id, :name,{:prompt => "選択してください"}, class:"form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :商品名 ,class: "col-xs-3" %></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "col-auto form-control form-control-md w-100"%></td>
          </tr>
          <tr>
            <td><%= f.label :評価 ,class: "col-xs-3" %></td>
            <td><div id="star"><%= f.hidden_field :rate, id: :review_star, :value => 'score' %></div></td>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'item[rate]',
                half: true,
              });
            </script>
          </tr>
          <tr>
            <td><%= f.label :商品説明 ,class: "col-xs-3" %></td>
            <td><%= f.text_area :explanation, autofocus: true, autocomplete: "explanation" ,class: "col-auto form-control form-control-md w-100"%></td>
          </tr>
          <tr>
            <td><%= f.label :成分 ,class: "col-xs-3" %></td>
            <td><%= f.text_area :component, size: "20x5", autofocus: true, autocomplete: "explanation" ,class: "col-auto form-control form-control-md w-100"%></td>
          </tr>
          <tr>
            <td><%= f.label :販売ステータス  ,class: "col-xs-3 fix" %></td>
            <td>
              <%= f.radio_button :status, :true %> 販売中
              <%= f.radio_button :status, :false %> 販売停止中
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class: "btn btn-outline-success mb-5" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>