<div class="container">
  <div class="row mt-4 mb-3">
   <div class="d-flex justify-content-between w-100">
     <h4 class="p-3 mb-2 text-dark w-25 text-center" style="color: #494949; background: #FFF8DC;">商品一覧</h4>
     <h5>
       <%= link_to "商品を追加する" ,new_admin_item_path, class: "btn btn-outline-success text-center" %>
       <%= link_to "商品カテゴリーを追加する" ,admin_item_categories_path, class: "btn btn-outline-success text-center"%>
     </h5>
   </div>
    <table class="table table-hover mt-4 mb-5">
      <thead>
        <tr class="thead" style="background-color: #FFF8DC;">
          <th>商品ID</th>
          <th>商品名</th>
          <th>商品カテゴリー</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= attachment_image_tag item, :item_image , format: 'jpg', fallback: "no_image.jpg", size: "50x50" %></td>
            <td><%= link_to item.name,admin_item_path(item), class:"text-secondary" %></td>
            <td><%= item.item_category.name %></td>
            <td>
              <% if item.status? %>
                <p class="text-success">販売</p>
              <% else %>
                <p class="text-secondary">廃盤</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mb-5"><%= paginate @items %></div>
  </div>
</div>