<div class="container mt-5">
  <h4 class="offset-3 p-3 mb-3 w-25 text-center" style="color: #494949; background: #FFF8DC;">商品新規登録</h4>
</div>
<div class="container", style="margin-left: 30rem;">
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form_with model:@item,url:admin_items_path, local:true do |f| %>
      <%= render "layouts/error", model: f.object %>
        <table class='table table-borderless'>
          <tr>
            <td><%= f.label :商品画像 ,class: "col-xs-3" %></td>
            <td><%= f.attachment_field :item_image, autofocus: true, autocomplete: "item_image" , class: "col-xs-8" %></td>
          </tr>
          <tr>
            <td><%= f.label :商品カテゴリー ,class: "col-xs-3 fix" %></td>
            <td><%= f.collection_select :item_category_id, ItemCategory.all, :id, :name,{prompt: "--選択してください--"}, class:"form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :商品名 ,class: "col-xs-3" %></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: "商品名", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :評価 ,class: "col-xs-3" %></td>
            <td><div id="star"><%= f.hidden_field :rate, :value => 'score' %></div></td>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'item[rate]',
                half: true,
              });
            </script>
          </tr>
          <tr>
            <td><%= f.label :商品説明 ,class: "col-xs-3" %></td>
            <td><%= f.text_area :explanation, autofocus: true, autocomplete: "explanation" , placeholder: "ここに説明文を記述します", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :成分 ,class: "col-xs-3 block"  %></td>
            <td><%= f.text_area :component, size: "30x5", autofocus: true, autocomplete: "component" , placeholder: "ここに成分を記述します", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :販売ステータス  ,class: "col-xs-3 fix" %></td>
            <td>
              <%= f.radio_button :status, :true %> 販売
              <%= f.radio_button :status, :false %> 廃盤
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class: "col-md-5 mb-5 btn btn-outline-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>