<div class="container px-5 px-sm-0">
  <div class="row mt-5 mb-5">
    <div class="col-2 col-md-2">
      <!-- 利用者情報サイドバー  -->
      <%= render 'users/users/info', user: current_user %>
      <!-- ジャンル検索サイドバー  -->
      <%= render 'users/items/category', categories: @categories %>
    </div>
    <div class="col-md-8">
      <!-- 商品イメージ -->
      <div class="item-image">
        <%= attachment_image_tag @item, :item_image, format: 'jpg',  fallback: "no_image.jpg", size: "400x300" %>
      </div>
      <!-- 商品詳細 -->
      <div class="item-detail">
        <h3><strong><%= @item.name %></strong></h3>
        <p><%= render 'users/favorites/favorite-btn', item: @item %>コメント件数：<%= @item.comments.count %></p>
        <p><%= @item.explanation %></p>
        <p><%= @item.component %></p>
      </div>

      <div>
        <% @item.comments.each do |comment| %>
          <%= comment.user.nickname %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.user == current_user %>
        　　<div>
    　         <%= link_to "削除", item_comment_path(comment.item, comment), method: :delete %>  　　　　 
    　       </div>
       　  <% end %>
        <% end %>
        </div>

      <div>
        <%= form_with(model:[@item, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>